<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ .PageTitle }}</title>
    {{ template "links" }}
  </head>
  {{ $defaultIssueCategory := "all" }}
  {{ $selectedCategory := .SelectedCategory }}
  <body class="min-h-screen bg-ink-400 text-vanilla-100">
    {{ template "navbar" . }}
    {{ template "header" . }}
    <main class="grid grid-cols-[16rem_1fr_20rem] divide-x divide-ink-200">
      {{ template "sidebar" . }}
      <section class="grid grid-cols-1 gap-4 p-4 auto-rows-min">
        {{ if eq (len .AnalysisResultData.IssuesOccurenceMap) 0 }}
          <div class="py-16 text-sm text-center border border-dashed rounded-md text-vanilla-400 border-ink-200">No issues to show</div>
        {{ else }}
          {{ range $key, $value := .AnalysisResultData.IssuesOccurenceMap }}
            {{ if or (eq $selectedCategory $value.IssueMeta.Category) (eq $selectedCategory $defaultIssueCategory) }}
            <a class="border divide-x divide-ink-200 rounded-lg group border-ink-200 hover:bg-ink-300 grid grid-cols-[1fr_10rem]" href="/issue/{{ $key }}/occurences">
              <div class="p-2 pl-4 space-y-1">
                <h4 class="font-medium">{{ $value.IssueMeta.Title }}</h4>
                <div class="flex gap-5 text-sm text-vanilla-400">
                  <div class="flex flex-wrap items-center gap-2">
                    <svg
                      class="flex-shrink-0"
                      width="14"
                      height="14"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <use href="static/assets/images/feather-sprite.svg#tag" />
                    </svg>
                    <span>{{ $value.IssueMeta.Category }}</span>  
                  </div>
                  <div class="flex items-center gap-2">
                    <svg
                      class="flex-shrink-0"
                      width="14"
                      height="14"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <use href="static/assets/images/feather-sprite.svg#file-text" />
                    </svg>
                    <span class="max-w-xs truncate">{{ $value.FilesInfo }}</span>
                  </div>
                </div>
              </div>
              <div class="grid text-xl font-medium place-content-center">{{ len $value.Occurences }}</div>
            </a>
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
      <aside class="p-4">
        <h5 class="mb-3 text-xs tracking-wider uppercase text-vanilla-400">
          Metrics
        </h5>
        <div class="gap-2.5 grid grid-cols-1">
          {{ if eq (len .AnalysisResultData.AnalysisResult.Metrics) 0 }}
            <div class="py-8 text-sm text-center border border-dashed rounded-md text-vanilla-400 border-ink-200">No metrics to show</div>
          {{ else }}
            {{ range $metric := .AnalysisResultData.AnalysisResult.Metrics }}
            <div class="p-4 space-y-4 border rounded-md border-ink-200">
              <div class="text-sm">{{ $metric.MetricCode }}</div>
              <div class="text-2xl font-medium leading-none">{{ (index $metric.Namespaces 0).Value }}</div>
            </div>
            {{ end }}
          {{ end }}
        </div>
      </aside>
    </main>
  </body>
</html>
