:root {
  color-scheme: dark;
}

#card-input-container {
  color-scheme: auto;
}

*:not(.hide-scroll):not(.default-scroll) {
  &::-webkit-scrollbar-track {
    padding: 2px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(48, 50, 54);
  }

  &::-webkit-resizer,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.hide-scroll {
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-resizer,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.bg-clip-text {
  box-decoration-break: clone;
}

.custom-scroll,
.no-scroll {
  overflow: hidden !important;
}

.custom-scroll:hover {
  overflow: scroll !important;
}

.custom-y-scroll {
  overflow: hidden !important;
}

.custom-y-scroll:hover {
  overflow-y: scroll !important;
}

.scroll-mt-8 {
  scroll-margin-top: 2rem;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hljs {
  @apply text-vanilla-400;
}
.hljs-attr {
  @apply text-juniper-500;
}
.hljs-literal {
  @apply text-lilac;
}
.hljs-string {
  @apply text-vanilla-200;
}
.hljs-section {
  @apply text-lavender font-semibold;
}

.toml-box {
  height: calc(100vh - 16rem);
  /* screenHeight - yPadding - twoButtons*/
}

.cmd-kbd {
  @apply px-0.5 py-px leading-none border rounded-sm text-xxs border-ink-100 bg-ink-400;
}

.error-state {
  @apply text-sm;

  code {
    @apply font-semibold text-sm;
  }

  a {
    @apply underline;
  }
}

code.bifrost-inline-code {
  @apply bg-ink-200 rounded-md tracking-wider font-medium;
  padding: clamp(2px, 0.25em, 4px);
  font-size: 0.8em;
}

// Create a new stacking context by specifying `z-index` less than the layout (dashboard/repository) header -->
// Graph tooltips appear below while scrolling
.chart-tooltip-z-20 .z-chart-wrapper .graph-svg-tip.comparison,
.z-chart-wrapper.chart-tooltip-z-20 .graph-svg-tip.comparison {
  z-index: 20;
}
