:root {
  color-scheme: dark;
}

#card-input-container {
  color-scheme: auto;
}

*:not(.hide-scroll):not(.default-scroll) {
  &::-webkit-scrollbar-track {
    padding: 2px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(48, 50, 54);
  }

  &::-webkit-resizer,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.hide-scroll {
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-resizer,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.bg-clip-text {
  box-decoration-break: clone;
}

.custom-scroll,
.no-scroll {
  overflow: hidden !important;
}

.custom-scroll:hover {
  overflow: scroll !important;
}

.custom-y-scroll {
  overflow: hidden !important;
}

.custom-y-scroll:hover {
  overflow-y: scroll !important;
}

.scroll-mt-8 {
  scroll-margin-top: 2rem;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hljs {
  @apply text-vanilla-400;
}
.hljs-attr {
  @apply text-juniper-500;
}
.hljs-literal {
  @apply text-lilac;
}
.hljs-string {
  @apply text-vanilla-200;
}
.hljs-section {
  @apply text-lavender font-semibold;
}

.toml-box {
  height: calc(100vh - 16rem);
  /* screenHeight - yPadding - twoButtons*/
}

.cmd-kbd {
  @apply px-0.5 py-px leading-none border rounded-sm text-xxs border-slate-400 bg-ink-400;
}

.error-state {
  @apply text-sm;

  code {
    @apply font-semibold text-sm;
  }

  a {
    @apply underline;
  }
}

code.bifrost-inline-code {
  @apply bg-ink-200 rounded-md tracking-wider font-medium;
  padding: clamp(2px, 0.25em, 4px);
  font-size: 0.8em;
}

// Create a new stacking context by specifying `z-index` less than the layout (dashboard/repository) header -->
// Graph tooltips appear below while scrolling
.chart-tooltip-z-20 .z-chart-wrapper .graph-svg-tip.comparison,
.z-chart-wrapper.chart-tooltip-z-20 .graph-svg-tip.comparison {
  z-index: 20;
}

// Adds lines to the left, creating a visual nested hierarchy
// Used in the pinned report widgets (accordion as part of the menu) and the run history page
.nested-group {
  $color: #23262e;
  $ident: 14px;
  $left: -($ident);

  .nested-group-heading {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: -16px;
      width: 8px;
      height: 8px;
      background-color: $color;
      border-radius: 100px;
    }
  }
  .nested-group-item {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -25px;
      left: $left;
      border-left: 2px solid $color;
      border-bottom: 2px solid $color;
      width: $ident;
      height: calc(50% + 25px);
    }
    &:after {
      position: absolute;
      content: '';
      top: 5px;
      left: $left;
      border-left: 2px solid $color;
      border-top: 0px solid $color;
      width: $ident;
      height: 100%;
    }
    &:last-child:before {
      border-bottom-left-radius: 6px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.h-report-chart {
  height: 18.875rem;
}
